<div class="modal-header border-0">
    <h5 id="exampleModalLabel" class="modal-title txt--txt2">Adicionar Produto</h5>
    <button type="button" (click)="fechar()" class="close bg-transparent border-0">
        <i class="fa-solid fa-close"></i>
    </button>
</div>
<hr />
<form *ngIf="data.ProdutoId === 'new' || (produto$ | async)" [formGroup]="produtoForm" autocomplete="off">
    <div class="modal-body">
        <div class="row">
            <div class="col-12 pb-2 mb-4">
                <label for="" class="txt--cta-medium">Nome Produto</label>
                <input type="text" formControlName="NomeProduto" class="form-control" (blur)="trim($event.target)"
                    [ngClass]="{'is-invalid': errorMessage['NomeProduto']}" placeholder="Digite o nome do produto">
                <div class="text-danger" *ngIf="errorMessage['NomeProduto']">
                    <i class="icon-error"></i>
                    <span [innerHTML]="errorMessage['NomeProduto']"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer border-0 pt-4 justify-content-around">
        <button type="button" (click)="salvar()" class="btn btn-success w-100"
            [disabled]="!produtoForm.valid">Salvar</button>
    </div>
</form>
